main {
  width: 100%;
}
.main-page {
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 62px;
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
  }
}
